{% extends 'base.html.twig' %}

{% block title %}Add Prescription{% endblock %}

{% block body %}
    <h1>Add Prescription</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Add Prescription</button>
    {{ form_end(form) }}

    <a href="{{ path('view_appointments') }}">Back to Appointments</a>
{% endblock %}
